
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/home/oracle/scripts/ic-OracleDatabase12cCampaign-red.gif
Name[en_US]=Stop Oracle Database
Exec=/home/oracle/scripts/stop_oracle.sh
Name=Stop Oracle Database
Icon=/home/oracle/scripts/oracle12c.gif
